
*{
    margin: 0;
    padding: 0;
    font-family: 'Koulen', cursive;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://pahang.uitm.edu.my/images/Raub/kampus_raub.png);
    background-position: center;
    background-size : cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
    background-color: chocolate;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    color: chocolate;
    background-color: white;
    border-radius: 100px;
    width: 20%;
    transform: translate(200%, -20%);
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}

.active {
  background-color: rgb(100, 64, 137,.85);
    padding: 10px;

}

.borderchocolate{
    background-color: chocolate;
    border: 2px solid #D2691E;
    border-radius: 15px;
    padding: 30px;
    margin: 5px 0;
    position: absolute;
    left: 685px;
    top: 65%;
	text-align: center;
    color: white;
}

.borderlogo{
    border: 2px solid #D2691E;
    background-color: white;
    border-radius: 15px;
}

.container{
				width: 360px;
				height: 600px;
				background: url(bg1.jpg);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				color: white;
				text-align: center;
			}
			
			.container h1{
				font-size: 40px;
				margin-top: 125px;
				margin-bottom: 60px;
			}
			
			.tbox{
				width: 260px;
				height: 40px;
				background: #f1f1f1b3;
				border-radius: 10px;
				margin: 10px auto;
			}
			
			.tbox input{
				background: none;
				border: none;
				outline: none;
				text-align: center;
				width: 90%;
				line-height: 37px;
				font-family: "Montserrat", sans-serif;
				font-size: 14px;
				color: #333;
			}
			
			.btn{
				width: 200px;
				height: 30px;
				background: #FFCB08;
				border-radius: 10px;
				margin: 3px auto;
				display: block;
				font-family: "Helvetica", sans-serif;
				font-size: 16px;
				border-width: 3px;
                border-color: purple;
				color: purple;
				cursor: pointer;
			}
			
			.b1{
				display: block;
				width: 260px;
				padding: 10px 0;
				text-decoration: none;
				color: rgb(100, 64, 137);
				text-align: center;
				margin: auto;
				transition: 0.4s all;
                cursor: pointer;
			}
			
			.b2{
				position:absolute;
				bottom: 80px;
				left: 50%;
				transform: translateX(-50%);
				width: 260px;
				padding: 10px 0;
				text-decoration: none;
				text-align: center;
				transition: 0.4s all;
				color: rgb(100, 64, 137);
			}
            .b3{
                background-color: r(0)g(0)b(0);
            }